body {
    background: #f0eff4;
}

body * h3 {
	font-family: 'Courier New', Courier, monospace;
}

.skyblue {
	background : rgb(163, 212, 216);
}
.red {
	background : red;
	color : red;
}
.navbar {
	width : 100%;
	height : 50px;
	color : white;
	background : #111224;
}
#add-button {
	background: rgb(103, 103, 243);
}
#sitename {
	color : white;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

#like {
	width : 100px;
	height : 50px;
	margin: 1px auto;
}
#delete {
	width : 100px;
	height : 50px;
	margin: 1px auto;
}

#add-box {
	padding : 10px;
	margin: 50px auto;
	width : 100%;
	height: 150vh;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.b70box {
	padding : 10px;
	margin: 50px auto;
	width : 100%;
	height: 75vh;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

#sitename:hover {
	transform : scale(1.2);
	cursor : pointer;
}

#sitename:active {
	box-shadow : none;
}

#footer-tm {
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
}
/*
111224
d1d1d1
f0eff4
ffffff
969696
8d8d8d
*/

/*
081B33
152642
2F4562
506680
767D92
353C51
*/

.margin-aut {
	width : 50%;
	text-align: center;
}

.hr-photos {
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.button {
	float: right;
}
.btns {
	float: right;
	margin-right:  60px;
}

#imageholder
{
	vertical-align:middle;
	border-radius : 5px;
	padding : 10px;
	margin: 1px auto;
	width : 80%;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.commentsbox {
	margin-bottom: 30px;
}

.imagecenter {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.comment {
	width : 95%;
	background : white;
	text-align: left;
	padding: 10px;
	border: 5px solid rgb(163, 212, 216);
	border-radius : 5px;
	margin : 1px auto;
}
.newcomment {
	width : 95%;
	margin : 1px auto;
}

.newcomment * textarea {
	width : 100%;
	background : white;
	text-align: left;
	padding: 0px 10px;
	margin : 0 auto;
	border: 5px solid rgb(163, 212, 216);
	border-radius : 5px;
}
.box-container {
	padding : 10px;
	margin: 50px auto;
	width : 60%;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-container * h6 {
	color : rgb(128, 128, 128);
}

.profile-photo {
	margin : 10px auto;
	border: 5px;
	border-radius: 50%; 
	width : 150px;
	height: 150px;
	transition: all .3s;
}

.profile-photo:hover {
	transform: scale(1.2);
}

#profile-container {
	margin: 50px auto;
	padding : 10px;
	width : 100%;
	height: 70vh;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.hundred {
	width : 100%;
}



#capture {
	color : black;
}

#photo {
	width: 100%;
	height: 400;
	border: solid black;
}

#canvas {
	display: none;
	background: #111224;
	width: 100%;
	height: 400px;
}


#video {
	width: 100%;
	height: 400px;
	background-color: rgb(0, 0, 0);
}